doctype html
html
    head
        title samar dance academy
        block scripts
        block style
    body
        block content
        footer#footer
            |  Copyright © 2022 sdacademy.com | All rights reserved
